.space {
    display: flex;
}

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item {
    display: flex;
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
}
.item:hover {
    background: rgba(0, 0, 0, .1);
}

.card {
    width: 90vw;
    margin-left: 5vw;
    background: #F7F7F7;
}